<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>Document</title>
</head>

<body>
  <h1>API Documentation</h1>

  <h2>Endpoints</h2>
  <ul>
    <li>
      <p>/</p>
      <p>Mehtod: get</p>
      <p>Return: Home page</p>
    </li>
    <li>
      <p>/version</p>
      <p>Mehtod: get</p>
      <p>Return: Version Info</p>
    </li>
    <li>
      <p>/users</p>
      <p>Mehtod: get</p>
      <p>Return: All Users</p>
    </li>
    <li>
      <p>/users</p>
      <p>Mehtod: get</p>
      <p>Return: One user by ID</p>
    </li>
    <li>
        <p>/users</p> 
        <p>Mehtod: post</p>
        <p>Requires: User data inputs</p>
    </li>
    <li>
      <p>/users/id</p>
      <p>Mehtod: put</p>
      <p>Requires: User update inputs</p>
    </li>
    <li>
      <p>/users/id</p>
      <p>Mehtod: delete</p>
      <p>Return: Deactivate account</p>
    </li>
      <li>
        <p>/users/id/activate</p> 
        <p>Mehtod: put</p>
        <p>Return: Activate Account</p>
      </li>
  </ul>
</body>

</html>